.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  padding: 0 16px;
  border-radius: var(--radius);
  cursor: pointer;
  background: var(--button-bg);
  border: 1px solid var(--button-border);
  color: var(--button-fg);
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  height: 34px;
  vertical-align: middle;
}

.root:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.root:focus {
  outline: 0;
}

.root:hover,
.root:active {
  border-color: var(--button-hover-border);
  color: var(--button-hover-fg);
  background: var(--button-hover-bg);
}

.icon {
  display: inline-flex;
  margin-left: 10px;
  margin-right: 10px;
}

/* Heuristics to visually balance the white-space on the left given a 24x24 icon */
.root.hasIcon {
  padding: 0px 16px 0 8px;
}

/* If button only contains an icon make it a perfect square */
.root.hasNoText .icon {
  margin-right: 0;
}
.root.hasNoText.hasIcon {
  padding: 0 5px;
  border: 0;
}

/* TYPES */

.root {
  --button-bg: #ffffff;
  --button-fg: #5395fa;
  --button-border: var(--text-blue-3);
  --button-hover-bg: #5395fa;
  --button-hover-fg: #ffffff;
  --button-hover-border: #5395fa;
}

.root.primary {
  --button-bg: var(--blues-sky-2);
  --button-fg: #ffffff;
  --button-hover-bg: linear-gradient(
    115.98deg,
    #6224e7 -17.71%,
    #2b84fc 112.45%
  );
  border: none;
  border-radius: 0;
  box-shadow: 2px 2px 4px 0px #5b5b5b40;
}

.root.alt {
  --button-bg: var(--enian-brand-blue-1);
  --button-fg: #ffffff;
  --button-border: #ffffff;
  --button-hover: #ffffff;
  --button-hover-bg: #ffffff;
  --button-hover-fg: var(--enian-brand-blue-1);
  --button-hover-border: var(--enian-brand-blue-1);
}

.root.gradient {
  --button-bg: linear-gradient(115.98deg, #6224e7 -17.71%, #2b84fc 112.45%);
  --button-fg: #ffffff;
  --button-border: #3a5bec;
  --button-hover-bg: #ffffff;
  --button-hover-fg: #6224e7;
  --button-hover-border: #6224e7;
}

.root.inverse {
  --button-bg: #ffffff;
  --button-fg: var(--enian-brand-blue-1);
  --button-border: var(--enian-brand-blue-1);
  --button-hover-bg: linear-gradient(
    115.98deg,
    #6224e7 -17.71%,
    #2b84fc 112.45%
  );
  --button-hover-fg: #ffffff;
  --button-hover-border: #3a5bec;
}

.root.error {
  --button-bg: #ffffff;
  --button-fg: var(--error-dark);
  --button-border: var(--error-dark);
  --button-hover-bg: var(--error-dark);
  --button-hover-fg: #ffffff;
  --button-hover-border: var(--error-dark);
}

.root.textOnly {
  --button-fg: var(--text-blue-2);
  --button-bg: transparent;
  --button-border: none;
  --button-hover-bg: transparent;
  --button-hover-fg: var(--text-blue-1);
}

/* SIZES */

.root.large {
  height: 54px;
}
