.root {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  background-color: var(--background-light-blue);
  height: fit-content;
  padding: 20px;
  border-radius: 4px;
}
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 450px;
}
.header {
  display: flex;
  justify-content: space-between;
}
