.root {
  display: flex;
  margin: 50px;
}

.map {
  width: 1000px;
  height: 500px;
}

.searchButton {
  width: 220px;
  height: 100px;
  font-size: 30px;
  margin-top: 50px;
}

.rightHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader,
.loader:after {
  margin-top: 50px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #4adec3;
  border-right: 1.1em solid #4adec3;
  border-bottom: 1.1em solid #4adec3;
  border-left: 1.1em solid #01b4a9;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.7s infinite linear;
  animation: load8 0.7s infinite linear;
  overflow: hidden;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.routeIcon {
  margin-right: 10px;
}
