.header {
  height: var(--header-height);
  z-index: 200;
  position: relative;
  width: 100%;
  padding: 15px 128px;
  top: 0;
  left: 0;
  right: 0;
  transform: translateZ(100px);
  background: var(--text-blue-1);
  display: flex;
  justify-content: space-between;
  color: var(--background-blue);
}

.cornerRibbon {
  width: 200px;
  background: #e43;
  position: absolute;
  top: 12px;
  left: -72px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: fixed;
}

.home {
  display: flex;
  font-size: 32px;
  font-style: underline;
  margin-left: 50px;
  margin-top: 10px;
  cursor: pointer;
}
