.popupBox {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 250px;
  height: 400px;
  padding: 10px;
  border-radius: 3px 0 0 3px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
}

.popupBox li:before {
  content: none;
}

.prelimInfo {
  font-size: 13px;
  margin: 10px 0 10px 0;
}

.popupBox ul {
  list-style: none;
}
