.wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input {
  height: 35px;
  width: 200px;
  border-radius: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 10px;
}

.error {
  color: var(--reds-lava-1);
  font-size: 10px;
  font-weight: bold;
}
