.root {
  display: flex;
  justify-content: space-evenly;
}
.report {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-bottom: 50px;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
}

.image {
  width: 700px;
}
