.root {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  background-color: var(--background-light-blue);
  height: fit-content;
  padding: 20px;
  border-radius: 4px;
}
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 450px;
}
.header {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.select {
  height: 35px;
  width: 200px;
  border-radius: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 10px;
}

.selectWrapper {
  margin: 10px;
}
