*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Proxima Nova", sans-serif;
}

body {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-blue-2);
}

:root {
  --radius: 4px;
  --sidebar-width-expanded: 300px;
  --sidebar-width-compact: 80px;
  --layout-padding: 32px;
  --project-layout-padding: 48px;
  --tab-margin: 35px;

  /* These colours have been deprecated */
  --error-dark: #d60404;
  --error-light: #f1b0c7;
  --error-lightest: #f8f2f4;
  --text-blue-1: #152842;
  --text-blue-2: #3f587a;
  --text-blue-3: #7993a9;
  --text-blue-4: #7a8aa3;
  --enian-brand-blue-1-dark: #0e55b5;
  --enian-brand-blue-1: #2f80ed;
  --enian-brand-blue-1-light: #b4cef9;
  --enian-brand-blue-2: #56ccf2;
  --enian-brand-blue-2-light: #b0e0f0;
  --enian-brand-blue-purple: #6224e7;
  --background-blue: #e0e5e9;
  --background-light-blue: #f5f8fb;
  --background-lightest-blue: #fcfdff;
  --correct-light: #afe8d7;
  --correct-lightest: #eefcf8;
  --correct-bright: #4adec3;
  --task-bar-border: #3a86f9;
  --warning-light: #f2d74c;
  --warning-lightest: #fffde9;
  --status-completed: #17775a;
  --lightest-grey: #85858580;
  --light-grey: #76767640;
  --thin-border: rgba(121, 147, 169, 0.25);

  /* This is the new colour pallet to be used */
  --greens-river-1: #01b4a9;
  --greens-river-2: #4adec3;
  --greens-river-3: #ebf5f3;
  --blues-sky-1: #0e55b5;
  --blues-sky-2: #2f80ed;
  --blues-sky-3: #a8cee3;
  --blues-sky-4: #e7eff3;
  --blues-sky-5: #f3f6f8;
  --blues-sea-1: #002557;
  --blues-sea-2: #3f5c84;
  --blues-sea-3: #72889a;
  --purples-mountain-1: #847ead;
  --purples-mountain-2: #cdc9e9;
  --purples-mountain-3: #e7dcff;
  --purples-storm-1: #6f4e89;
  --purples-storm-2: #e7d5ea;
  --purples-storm-3: #f4edee;
  --greys-cloud-1: #878b92;
  --greys-cloud-2: #c7c7c7;
  --greys-cloud-3: #f2f2f2;
  --reds-lava-1: #ed3863;
  --reds-lava-2: #e48596;
  --reds-lava-3: #f5dada;
  --oranges-sunset-1: #ed7938;
  --oranges-sunset-2: #fbd499;
  --oranges-sunset-3: #f9ebbb;
  --yellows-sunrise-1: #fff175;
}

/*
* Variables defined for non-desktop (mobile & tablet)
*/
@media (max-width: 1024px) {
  :root {
    --layout-padding: 12px;
    --project-layout-padding: 12px;
    --tab-margin: 16px;
  }
}
/*
* Variables defined for mobile
*/
@media (max-width: 767px) {
  :root {
    --layout-padding: 12px;
    --project-layout-padding: 12px;
    --tab-margin: 16px;
  }
}
/*
* Variables defined for small mobile
*/
@media (max-width: 320px) {
  :root {
    --tab-margin: 8px;
  }
}
