.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 300px;
  overflow: auto;
  cursor: pointer;
}

.entry {
  margin: 10px;
}

.cardHeaders {
  white-space: wrap;
}
