@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-display: block;
  src: url("./fonts/proxima-nova-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-display: block;
  src: url("./fonts/proxima-nova-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-display: block;
  src: url("./fonts/proxima-nova-bold.woff2") format("woff2");
}
